.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-container{
  height: 128px;
  width:600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-image: linear-gradient(to left, #0F2027, #203A43, #2C5364);
  padding: 4px 16px;
  border: #bdc3c7 2px solid;
  border-radius: 15%;
}

.bad{
  background-image: linear-gradient(to left, #c31432, #240b36);
}

.bad:hover{
  background-image: linear-gradient(to left, #C02425, #F0CB35);
}

.button:hover {
  background-image: linear-gradient(to left, #a8ff78, #78ffd6);
  color: black;
  border: transparent 2px solid;
  cursor: pointer;
}

.legend-container{

}

.pre-season{

}

.regular-season{

}

.post-season{

}